<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset = "UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Cadastro de usuário ITSS</title>
</head>

<body>

 <header>
        <nav>
		    <div class="nav-wrapper">
		    <a href="#" class="brand-logo center">Cadastro de Usuário</a>
		    </div>
		</nav>
    </header>
    <div align="right" class ="container">
    	<h3><a href="/usuarios" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Listar De Usuários</a></h3>
    </div>
    
    <div class ="container">
        <th:block th:include="mensagemValidacao"></th:block>
    </div>
    
	<form class="container" method="post">
	
		Nome: <input type="text" value="" name="nome"/>
		<div class = "row">
			<div class ="imput-field col s6">
				Login: <input type="text" value="" name="login"/>
			</div>
			<div class ="imput-field col s6">
			    Senha: <input type="text" value="" name="senha"/>
			</div>
			<div class ="imput-field col s6">
				CPF: <input type="text" value="" name="cpf"/>
			</div>
			<div class ="imput-field col s6">
				RG: <input type="text" value="" name="rg"/>
			</div>
		</div>
		Email: <input type="text" value="" name="email"/>
		
		<button type="submit" class="waves-effect waves-light btn">Salvar</button>
		
	</form>
	<!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>

</html>